/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */
@import "./media-queries.scss";

:root {
  --ion-color-primary: #FFFFFF;
  --ion-color-primary-tint: #FFFFFF;
  --ion-color-primary-shade: #FFFFFF;

  --ion-color-light: #202122;
  --ion-color-medium: rgb(49, 49, 49);
  --ion-color-medium-tint: #d3cece;
  --ion-color-medium-shade: #FFFFFF;
  --ion-color-medium-contrast:#FFFFFF;
  --ion-background-color: #151516;
  /* --ion-background-color: #18191a; */
  color: #FFFFFF;
}

h1 , h2 , h3 , h4 , p , a , ul li , strong , label {
  color: #777777;
}
